<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Canal Detalle</title>
</head>
<body>

   
    <p>Nombre del canal: <i>{{ canal.nombre }}</i></p>
    <p>Descripcion del canal: <i>{{ canal.descripcion }}</i></p>
    <p>campo1: <i>{{ canal.campo1 }}</i></p>
    <p>campo2: <i>{{ canal.campo2 }}</i></p>
    <p>campo3: <i>{{ canal.campo3 }}</i></p>
    <p>campo4: <i>{{ canal.campo4 }}</i></p>
    <p>campo5: <i>{{ canal.campo5 }}</i></p>
    <p>campo6: <i>{{ canal.campo6 }}</i></p>
    <p>campo7: <i>{{ canal.campo7 }}</i></p>
    <p>campo8: <i>{{ canal.campo8 }}</i></p>
    <p>
        <a href="{% url 'List' %}">Regresar</a>
    </p>

    
</body>
</html>