<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Datos Canal Detalle</title>
</head>
<body>

   
    <p>campo1: <i>{{ datoscanal.campo1 }}</i></p>
    <p>campo2: <i>{{ datoscanal.campo2 }}</i></p>
    <p>campo3: <i>{{ datoscanal.campo3 }}</i></p>
    <p>campo4: <i>{{ datoscanal.campo4 }}</i></p>
    <p>campo5: <i>{{ datoscanal.campo5 }}</i></p>
    <p>campo6: <i>{{ datoscanal.campo6 }}</i></p>
    <p>campo7: <i>{{ datoscanal.campo7 }}</i></p>
    <p>campo8: <i>{{ datoscanal.campo8 }}</i></p>
    <p>
        <a href="{% url 'List' %}">Regresar</a>
    </p>

    
</body>
</html>